body
{
	background-color: #464340;
	color: #B4B3B2;
	font-family: arial;
}

footer
{
	background-color:#272522;
	padding-top: 1px;
	padding-bottom: 1px;
}

footer p
{
	text-align: right;
}

h2
{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
}

h4
{
	font-size: 20px;
	font-weight: bold;
}

img
{
	max-width: 80%;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p
{
	padding-left: 20px;
	padding-right: 20px;
}

table
{
	color: #000000 !important;
}

textarea
{
	font-family: arial;
}

.button
{
	border: 0;
	box-shadow: none;
	border-radius: 3px;
	
	padding: 18px 20px 18px 20px;
	background-color: #E6912C;
	
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

.centerText
{
	text-align: center;
}

.centerRad
{
	margin-left: auto;
	margin-right: auto;
}

.addPadding
{
	padding-left: 15px;
	padding-right: 15px;
}

.question
{
	font-weight: bold;
}

.questionnaire
{
	background-color: #EBECD0;
	padding: 1% 5% 1% 5%;
	margin: 1% 5% 1% 5%;
	color: #000000 !important;
}